@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    margin: 0;
    padding: 1em;
    font-family: 'Lato', sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1, h2 {
    margin: 0.2em;
}

.optionsBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.listContainer {
    margin: 1em auto;
}

.todoList {
    /*text-align: right;*/
    padding: 0;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin: 0.1em auto;
}

label span {
    font-size: 0.8em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

input {
    margin-left: 0.5em;
}

button {
  color: inherit;
  background-color: hsl(0,0%,90%);
  border-radius: 3px;
  border: 1px solid hsl(0,0%,50%);
  width: auto;
}

button:active {
  box-shadow: inset 0 0 2px hsl(0,0%,50%);
}